.form-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: #e0f7fa;
    background-image: linear-gradient(0deg, #e0f7fa 0%, #fff9c4 100%);
}

.form-container form {
    width: 400px; /* Moderate increase in width */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px; /* Moderate increase in padding */
    background-color: #fff;
    border-radius: 10px;
}

.form-container form .title {
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin */
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #004d40;
}

.form-container form input {
    border: none;
    border-bottom: 2px solid #004d40;
    border-radius: 0;
    padding: 10px; /* Moderate increase in padding */
    margin-bottom: 12px; /* Moderate increase in margin */
    font-size: 16px; /* Slight increase in font size */
}

.form-container form button {
    border: 2px solid #004d40;
    border-radius: 5px;
    background-color: #004d40;
    color: white;
    width: 100%; /* Ensures the button is as wide as the form */
    padding: 12px; /* Moderate increase in padding */
    font-size: 16px; /* Slight increase in font size */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-container form button:hover {
    background-color: #00796b;
    border-color: #00796b;
}

.forgot-btn {
    background-color: #00796b !important;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    font-size: 14px !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.forgot-btn:hover {
    background-color: #004d40 !important;
    color: white !important;
}
